.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #f3f3f3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  /* color: white; */
}

.brand-name {
  margin-left: 10px !important;
}

.navbar-items {
  padding: 10px !important;
}

.navbar-items:hover {
  padding: 10px !important;
  /* font-weight: bold; */
}

.navbar {
  height: 60px;
  /* background-color: #00308f !important;
  color: white !important; */
}

.front-image {
  width: 50%;
}

.mail-link {
  color: #00308f !important;
  text-decoration: none !important;
}
