html {
   scroll-padding-top: 70px;
}

.section-title{
  margin: 40px 0;
}

.personal-card {
  margin: 0 30px;
  font-size: 14px;
}

.brand-name {
  margin-left: 10px !important;
}

.navbar-items {
  padding: 10px !important;
  color: white !important;
}

.navbar-items:hover {
  padding: 10px !important;
}

.navbar {
  height: 55px;
  background-color: #00308f !important;
}

.navbar-brand {
  color: white !important;
  margin-left: 20px;
}

.navbar-toggler-icon, .navbar-toggler {
  background-color: white !important;
}

.front-image {
  width: 50%;
}

.mail-link {
  color: #00308f !important;
  text-decoration: none !important;
}

.personal-content-title{
  text-align: left;
  width: 30%;
  padding-left: 20px !important;
}

.personal-content-values{
  text-align: left;
}

.mob{
  color: black;
  text-decoration: none;
}

.personal-table-row, .almamater-table-row{
  border: 0px solid white;
}

.designation{
  font-weight: bold;
  color: #00308f;
}

.qual-card {
  margin-bottom: 50px !important;
  margin-left: 30px !important;
  margin-right: 30px !important;
  font-size: 14px;
}

.qual-title {
  font-size: 14px !important;
}

.qual-subtitle {
  font-size: 12px !important;
}

.profession-card {
  margin: auto !important;
}

.skill-row {
  margin: -20px 35px !important;
  font-size: 14px;
}

.project-header, .project-footer {
  display: flex;
  justify-content: space-between;
}

.project-header {
  margin-bottom: -16px;
}

.project-type {
  font-size: 12px;
}

.project-tech {
  line-height: 12px;
  font-size: 14px;
}

.profession-card-body, .projects-card-body {
  padding: 30px !important;
}

.projects-card {
  margin-top: 30px;
}

.summary {
  font-size: 14px !important;
  font-weight: 350 !important;
  line-height: 25px !important;
}

.ivp-logo{
  /* height: 80%; */
}

.skill-title{
  margin-top: 35px;
}

.skill-bar {
  margin-top: -10px;
  --bs-progress-bar-bg: #00308f !important;
  --bs-progress-height: 0.5rem !important;
}

.prof-skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: baseline;
  font-size: 12px;
}

.skill-item {
  border: 1px solid lightgrey;
  padding: 3px 7px;
  margin: 5px 7px;
  border-radius: 7px;
  box-shadow: 0 8px 10px -7px;
}

.prof-exp{
  font-size: 12px;
}

.certificate-title {
  font-size: 15px !important;
}

.image-resp {
  margin-bottom: 35px;
}

.nowrap-texts {
  white-space: nowrap;
}

.pdf-link, .repo-link, .live-link, .captures-link, .resume-link {
  color: white !important;
  text-decoration: none;
  font-size: 13px;
}

.project-year {
  font-weight: 300;
}

.certification-sub-header {
  margin-bottom: -35px;
}

.pdf-button, .repo-button, .live-button, .captures-button {
  background-color: #00308f !important;
  margin-top: 10px;
}

.certifications-row, .projects-row {
  padding: 30px;
}

.projects-row {
  margin-top: -40px !important;
}

.specialization-card, .course-card {
  margin-top: 30px;
}

.resume-btn {
  background-color: #00308f !important;
  padding: 10px 40px !important;
  margin-top: 50px;
  margin-bottom: -30px;
}

@media only screen and (max-device-width: 991px) {
  .navbar-nav-scroll {
    background-color: #00308f;
    width: 200px;
    /* padding-right: 0 !important; */
    text-align: center;
    border-bottom-left-radius: 25px;
  }

  .navbar-collapse {
    margin-right: -20px;
    margin-top: -1px;
  }
}

@media only screen and (max-device-width: 480px) {
  .profession-card {
    width: 410px;
    margin: auto !important;
  }
  .specialization-card, .course-card, .projects-card {
    margin-top: 30px;
  }
}
